<!DOCTYPE HTML>

<html>
	{% include 'bdrsite/header.html' %}
	<body class="landing">
		{% include 'bdrsite/nav_home.html' %}

		<!-- Banner -->
			<section id="banner">
				<h2>Bass Connections</h2>
				<p style="color:white">Duke Blue Devil Resistome Project</p>
				<ul class="actions">
					<li><a href="#background" class="button special big">Learn More</a></li>
				</ul>
			</section>

			<!-- One -->
			<a id="background"></a>
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Background</h2>
									<p>The Rise of Antibiotic Resistance</p>
								</header>

								<p>The World Health Organization ranks antibiotic resistance as one of the top three threats to global health and cites. Antibiotic pipelines are drying up, and acquisition of resistance appears to be accelerating, making it critical to utilize the antibiotics already on the market more effectively. To do so requires a deeper understanding of the scope of antibiotic resistance in the environment, how different types of antibiotic resistance spread and how to interfere with such spread.</p>
							</div>
							<div class="6u$ 12u$(medium)">
								
								<p>The past several decades have witnessed rapid rise of antibiotic resistance globally. Several southern hospitals, including the Duke hospital, have seen a steady increase in the incidence of bacterial pathogens expressing extended spectrum beta-lactamases. It was also found that the majority of patients acquired these infections from hospitals or healthcare centers. These observations raise a potential safety concern for individuals who work and live around such facilities.</p>
								<p>For instance, do we expect a greater prevalence of different bacterial pathogens in the environment near hospitals, healthcare centers or research labs dealing with pathogens? Are these pathogens present at a level to warrant concern or preventive measures? What preventive measures should we take to limit the spread of antibiotic-resistance pathogens or genes?</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style3">
					<div class="container">
						<header class="major special">
							<h2>Project Description</h2>
							<p>Mapping Antibiotic-Resistance Genes</p>
						</header>
						<p style="color:white">To address these questions, we must first understand what is out in the environment. The Bass Connections Blue Devil Resistome Project will tackle this challenge by mapping the distribution of antibiotic-resistance genes across the Duke campus.</p>
						<p style="color:white">The project will be highly multidisciplinary, engaging researchers and undergraduate and graduate students with backgrounds in biology, engineering, genomics, computational sciences, bioinformatics, global health and policy. The project will provide a concrete context for participating students to conduct research that has direct societal impact, with global implications. This will evolve into a long-term project for research and education.</p>
						<p style="color:white">Research activities include primarily the following aspects:</p>


						<h4 style="color:#aaa">Sampling &amp; Sample Processing</h4>
						<p style="color:white">The project team will collect environmental samples from selected locations across the Duke campus. These samples will be further processed and analyzed by identifying the presence of different microbial species and antibiotic-resistance genes. Selected samples will be stored for future analysis (e.g., whole genome sequencing).</p>

						<h4 style="color:#aaa">Geospatial Health Analysis</h4>
						<p style="color:white">The team will develop a sample collection strategy to track sample specimens, environmental conditions and date/time collected. Existing platforms such as the GIS Cloud Mobile Data Collection (MDC) will be evaluated for their suitability for the study. The team will also be responsible for leading the geospatial analysis and will review existing platforms for suitability for this study, such as the Berkeley Image Segmentation Algorithm at BIS Cloud, to characterize campus locations.</p>

						<h4 style="color:#aaa">Data Analysis &amp; Database Development</h4>
						<p style="color:white">In parallel, the team will create a database to document the information collected above. As the project proceeds, team members will develop computational tools or software for analyzing and disseminating the data.</p>
								
						<p style="color:white"> Overall, the project will allow researchers to develop a better understanding of the potential risks associated with hospitals and healthcare centers, which may be generally relevant to similar facilities elsewhere. It will also allow us to evaluate intervention strategies that can curtail the spread of antibiotic resistance, again applicable beyond Duke. Scientifically, the work will generate a valuable resource for future multidisciplinary research on environmental microbes and infectious diseases.</p>
					</div>
				</section>
		{% include 'bdrsite/footer.html' %}
		{% include 'bdrsite/scripts.html' %}

	</body>
</html>